.main {
  height: 100vh;
}

.logo {
  float: left;
  position: relative;
  width: 50%;
  height: 180px;
  background-color: #f47070;
}

.logo h3 {
  font-size: 2em;
}

.logo-text {
  position: absolute;
  left: 20px;
  top: 50px;
  transform: translate(0, -50%);
}

.nav {
  float: right;
  position: relative;
  width: 50%;
  height: 180px;
  background-color: #83aad1;
}

.nav-elements {
  position: absolute;
  right: 20px;
  top: 50px;
  transform: translate(0, -50%)
}

.nav-elements p {
  display: inline;
  margin-left: 30px;
}
