body {
  font-family: 'Julius Sans One', sans-serif;
  color: white;
}

.main {
  height: 100vh;
}

.top {
  height: 60%;
  background-image: url("../img/backgroundcroissant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  float: left;
  position: relative;
  width: 350px;
  height: 180px;
}

.logo h3 {
  font-size: 2em;
}

.logo-text {
  position: absolute;
  left: 20px;
  top: 50px;
  transform: translate(0, -50%);
}

.nav {
  float: right;
  position: relative;
  width: 50%;
  height: 180px;
}

.nav-elements {
  position: absolute;
  right: 20px;
  top: 50px;
  transform: translate(0, -50%)
}

.nav-elements p {
  display: inline;
  margin-left: 30px;
}
